*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    font-size: 22px;
    background-color: #be6e7b;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #680919;
}

.icon{
    border: 1px solid black;
    background-color: #680919;
    color: #be6e7b;
    padding: 40px;
    cursor: pointer;
}

.close{
    display: none;
}

.open{
    display: none;
}

.active{
    display: block;
}